<!DOCTYPE html>
<html>

<head>
    <title>Speedy Heart</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="bttn.css">

    <style>
        body {
    background: #ec008c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    
    }
    input[type=text]
    {
     outline: none;
      background: transparent;
      color: #ffffff;
      border: 1px solid #ffffff;
      font-family: 'Montserrat', sans-serif;
    }
    select
    {
      outline: none;
      background: transparent;
      color: #ffffff;
      border: 1px solid #ffffff;
      font-family: 'Montserrat', sans-serif;
      
    }
    select option
    {
      outline: none;
      background: #fc6767;
      color: #ffffff;
      border: 1px solid #ffffff;
      font-family: 'Montserrat', sans-serif;
    }
    .sh-button {
      border: 1px solid #ffffff;
      cursor: pointer;
      width: 250px;
      
    }
    
 
    
    
  </style>

    <script src="AgoraRTCSDK-2.5.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <div style="font-size: 500%;">
        Speedy Heart

    </div>
    <br>
    <div id="div_device" class="panel panel-default">
        <div class="select">
            <label for="audioSource">Audio source: </label><select id="audioSource"></select>
        </div><br>
        <div class="select">
            <label for="videoSource">Video source: </label><select id="videoSource"></select>
        </div><br>
    </div>

    <div id="div_join" class="panel panel-default">
        <div class="panel-body">

            <span style="display:none;">App ID: </span><input id="appId" type="text" value="" size="36" style="display:none;"><br><br>
            Channel: <input id="channel" type="text" value="1000" size="4"><br><br>


            <input id="video-cb" type="checkbox" checked style="display:none;">


            <div id="sh-host" class="sh-button" onclick="shHost()">Host</div><br>
            <div id="join" class="sh-button" onclick="join()">Join</div><br>
            <div id="leave" class="sh-button" onclick="leave()">Leave</div><br>
            <div id="publish" class="sh-button" onclick="publish()">Publish</div><br>
            <div id="unpublish" class="sh-button" onclick="unpublish()">Unpublish</div><br>


            <div>Quality information</div>
            <div id="quality-information"></div><br>
            <div>Device information</div>
            <div id="device-information"></div><br>
            <div>Volume indicator information</div>
            <div id="sh-volume-indicator-information"></div><br>

        </div>
    </div>

    <!--style>
    .video__box{width:910px; margin:0 auto; overflow:hidden;}
    .video__main{ width:810px; height:607px;float:left }
    .video__list{ width:200px; height:607px; float:left;}
    .video__item{ width:200px; height:174px; hei background:url(/img/icon_live.png) center center no-repeat; }
    </style>
    <div class="video__main">
    </div>
    <div class="video__list">
        <div class="video__item"></div>
        <div id="video" class="video__item">
            <div id="agora_local"></div>
        </div>
    </div-->



    <div id="video" style="margin:0 auto;">
        <div id="agora_local" style="float:right;width:210px;height:147px;display:inline-block;"></div>
    </div>

    <script language="javascript">
        if (!AgoraRTC.checkSystemRequirements()) {
            alert("Your browser does not support WebRTC!");
        }

        /* select Log type */
        // AgoraRTC.Logger.setLogLevel(AgoraRTC.Logger.NONE);
        // AgoraRTC.Logger.setLogLevel(AgoraRTC.Logger.ERROR);
        // AgoraRTC.Logger.setLogLevel(AgoraRTC.Logger.WARNING);
        // AgoraRTC.Logger.setLogLevel(AgoraRTC.Logger.INFO);  
        // AgoraRTC.Logger.setLogLevel(AgoraRTC.Logger.DEBUG);

        /* simulated data to proof setLogLevel() */
        AgoraRTC.Logger.error('this is error');
        AgoraRTC.Logger.warning('this is warning');
        AgoraRTC.Logger.info('this is info');
        AgoraRTC.Logger.debug('this is debug');

        var client, localStream, camera, microphone;

        var audioSelect = document.querySelector('select#audioSource');
        var videoSelect = document.querySelector('select#videoSource');

        function join() {


            document.getElementById("join").disabled = true;
            document.getElementById("video-cb").disabled = true;
            var channel_key = null;

            console.log("Init AgoraRTC client with App ID: " + appId.value);
            client = AgoraRTC.createClient({
                mode: 'interop'
            });
            client.init(appId.value, function() {
                console.log("AgoraRTC client initialized");
                client.join(channel_key, channel.value, null, function(uid) {
                    console.log("User " + uid + " join channel successfully");




                    if (document.getElementById("video-cb").checked) {
                        camera = videoSource.value;
                        microphone = audioSource.value;
                        localStream = AgoraRTC.createStream({
                            streamID: uid,
                            audio: true,
                            cameraId: camera,
                            microphoneId: microphone,
                            video: document.getElementById("video-cb").checked,
                            screen: false
                        });
                        //localStream = AgoraRTC.createStream({streamID: uid, audio: false, cameraId: camera, microphoneId: microphone, video: false, screen: true, extensionId: 'minllpmhdgpndnkomcoccfekfegnlikg'});
                        if (document.getElementById("video-cb").checked) {
                            localStream.setVideoProfile('720p_3');

                        }

                        // The user has granted access to the camera and mic.
                        localStream.on("accessAllowed", function() {
                            console.log("accessAllowed");
                        });

                        // The user has denied access to the camera and mic.
                        localStream.on("accessDenied", function() {
                            console.log("accessDenied");
                        });

                        localStream.init(function() {
                            console.log("getUserMedia successfully");
                            localStream.play('agora_local');

                            client.publish(localStream, function(err) {
                                console.log("Publish local stream error: " + err);
                            });

                            client.on('stream-published', function(evt) {
                                console.log("Publish local stream successfully");
                            });
                        }, function(err) {
                            console.log("getUserMedia failed", err);
                        });
                    }
                }, function(err) {
                    console.log("Join channel failed", err);
                });
            }, function(err) {
                console.log("AgoraRTC client init failed", err);
            });

            channelKey = "";



            client.on('error', function(err) {
                console.log("Got error msg:", err.reason);
                if (err.reason === 'DYNAMIC_KEY_TIMEOUT') {
                    client.renewChannelKey(channelKey, function() {
                        console.log("Renew channel key successfully");
                    }, function(err) {
                        console.log("Renew channel key failed: ", err);
                    });
                }
            });




            client.on('stream-added', function(evt) {
                var stream = evt.stream;
                console.log("New stream added: " + stream.getId());
                console.log("Subscribe ", stream);
                client.subscribe(stream, function(err) {
                    console.log("Subscribe stream failed", err);
                });
            });



            client.on('stream-subscribed', function(evt) {
                var stream = evt.stream;
                console.log("Subscribe remote stream successfully: " + stream.getId());
                if ($('div#video #agora_remote' + stream.getId()).length === 0) {
                    $('div#video').append('<div id="agora_remote' + stream.getId() + '" style="float:left; width:810px;height:607px;display:inline-block;"></div>');
                }
                stream.play('agora_remote' + stream.getId());
            });

            client.on('stream-removed', function(evt) {
                var stream = evt.stream;
                stream.stop();
                $('#agora_remote' + stream.getId()).remove();
                console.log("Remote stream is removed " + stream.getId());
            });

            client.on('peer-leave', function(evt) {
                var stream = evt.stream;
                if (stream) {
                    stream.stop();
                    $('#agora_remote' + stream.getId()).remove();
                    console.log(evt.uid + " leaved from this channel");
                }
            });

            //Implementation

            //QUALITY TRANSPARENCY

            client.getSystemStats(function(e, t) {
                var content = "";
                if (e) {
                    content += "Battery Level: " + e["BatteryLevel"] || "";
                }
                if (t) {
                    content += "";
                }
                document.getElementById("quality-information").innerHTML = content;

            });


            //DEVICE MANAGEMENT


            client.getCameras(function(e, t) {



                var content = "";
                if (e) {

                    content += "Device id: " + (e[0]["deviceId"] || "") + " Kind: " + (e[0]["kind"] || "") + " Label: " + (e[0]["label"] || "") + " Group id: " + (e[0]["groupId"] || "");
                }
                if (t) {
                    content += "";
                }
                document.getElementById("device-information").innerHTML = content;


            });


            //VOLUME INDICATOR OF SPEAKING PARTICIPANT
            client.enableAudioVolumeIndicator(); // Triggers the "volume-indicator" callback event every two seconds.
            client.on("volume-indicator", function(evt) {
                evt.attr.forEach(function(volume, index) {
                    
                    document.getElementById("sh-volume-indicator-information").innerHTML = "Index: " + index + " UID: " + (volume.uid || "") + " Level: " + (volume.level || "");
                });
            });

            $("html, body").animate({
                scrollTop: $(document).height()
            }, 3000);

        }


        function leave() {
            document.getElementById("leave").disabled = true;
            client.leave(function() {
                console.log("Leavel channel successfully");
            }, function(err) {
                console.log("Leave channel failed");
            });
        }

        function publish() {
            document.getElementById("publish").disabled = true;
            document.getElementById("unpublish").disabled = false;
            client.publish(localStream, function(err) {
                console.log("Publish local stream error: " + err);
            });
        }

        function unpublish() {
            document.getElementById("publish").disabled = false;
            document.getElementById("unpublish").disabled = true;
            client.unpublish(localStream, function(err) {
                console.log("Unpublish local stream failed" + err);
            });
        }

        function getDevices() {
            AgoraRTC.getDevices(function(devices) {
                for (var i = 0; i !== devices.length; ++i) {
                    var device = devices[i];
                    var option = document.createElement('option');
                    option.value = device.deviceId;
                    if (device.kind === 'audioinput') {
                        option.text = device.label || 'microphone ' + (audioSelect.length + 1);
                        audioSelect.appendChild(option);
                    } else if (device.kind === 'videoinput') {
                        option.text = device.label || 'camera ' + (videoSelect.length + 1);
                        videoSelect.appendChild(option);
                    } else {
                        console.log('Some other kind of source/device: ', device);
                    }
                }
            });
        }

        function shHost() {

            if (document.getElementById("video-cb").checked) {
                document.getElementById("video-cb").checked = false;
                document.getElementById("sh-host").innerText = "Not Host";

            } else {
                document.getElementById("video-cb").checked = true;
                document.getElementById("sh-host").innerText = "Host";

            }

        }
        $("#appId").val("REDACTED");

        //audioSelect.onchange = getDevices;
        //videoSelect.onchange = getDevices;
        getDevices();
    </script>
</body>

</html>
